version: "3"

services:

  runtime-setup:
    image: netty-tcnative-debian:default
    build:
      context: ..
      dockerfile: docker/Dockerfile.debian

  common: &common
    image: netty-tcnative-debian:default
    depends_on: [runtime-setup]
    volumes:
      - ~/.ssh:/root/.ssh:delegated
      - ~/.gnupg:/root/.gnupg:delegated
      - ..:/code:delegated
    working_dir: /code

  build-clean:
    <<: *common
    command: /bin/bash -cl "mvn clean package"

  build:
    <<: *common
    command: /bin/bash -cl "mvn clean package -DaprSourceDir=/root/workspace/apr-source -DaprHome=/root/workspace/apr -DboringsslSourceDir=/root/workspace/boringssl-source -DboringsslHome=/root/workspace/boringssl -DopensslSourceDir=/root/workspace/openssl-source -DopensslHome=/root/workspace/openssl -DlibresslSourceDir=/root/workspace/libressl-source -DlibresslHome=/root/workspace/libressl"

  deploy-dynamic-only:
    <<: *common
    command: /bin/bash -cl "mvn -pl openssl-dynamic clean deploy -DskipTests=true"

  build-dynamic-only:
    <<: *common
    command: /bin/bash -cl "mvn -pl openssl-dynamic clean package"

  shell:
    <<: *common
    volumes:
      - ~/.ssh:/root/.ssh:delegated
      - ~/.gnupg:/root/.gnupg:delegated
      - ~/.m2:/root/.m2:delegated
      - ~/.gitconfig:/root/.gitconfig:delegated
      - ~/.gitignore:/root/.gitignore:delegated
      - ..:/code:delegated
    entrypoint: /bin/bash
