version: "3"

services:

  runtime-setup:
    image: netty-tcnative-debian:debian-7-1.8
    build:
      args:
        debian_version : "7"
        java_version : "8.0.352-zulu"

  deploy-dynamic-only:
    image: netty-tcnative-debian:debian-7-1.8

  stage-snapshot:
    image: netty-tcnative-debian:debian-7-1.8

  stage-release:
    image: netty-tcnative-debian:debian-7-1.8

  build-dynamic-only:
    image: netty-tcnative-debian:debian-7-1.8

  build:
    image: netty-tcnative-debian:debian-7-1.8

  shell:
    image: netty-tcnative-debian:debian-7-1.8
